ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
p{
  color: rgb(179, 19, 18);

}

.note{
  font-size: 20px
}

#id-selector-demo{
  color: rgb(154, 222, 123);
}


li[value="4"]{
  color: rgb(53, 89, 224);

}

*{
  text-align: center
}


